BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  SplitEmptyRecord: false
  SplitEmptyFunction: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlignAfterOpenBracket: DontAlign
IncludeCategories:
  - Regex: '^<zukou\.h>$'
    Priority: 0
